auto/*.c
auto/*.h
*.o
*.pyc
*.a
*.so
java/

# lcm build
upstream/examples/python/exlcm
upstream/lcm-java/build/
upstream/lcm-java/classdist_noinst.stamp
upstream/lcm-java/lcm-logplayer-gui
upstream/lcm-java/lcm-spy
upstream/lcm-java/lcm.jar
upstream/lcm-logger/.libs/
upstream/lcm-logger/lcm-logger
upstream/lcm-logger/lcm-logplayer
upstream/lcm-python/.libs/
upstream/lcm-python/build
upstream/lcm-python/_lcm.la
upstream/lcm-python/_lcm_la-module.lo
upstream/lcm-python/_lcm_la-pyeventlog.lo
upstream/lcm-python/_lcm_la-pylcm.lo
upstream/lcm-python/_lcm_la-pylcm_subscription.lo
upstream/lcm/.libs/
upstream/lcm/eventlog.lo
upstream/lcm/lcm.lo
upstream/lcm/lcm_file.lo
upstream/lcm/lcm_tcpq.lo
upstream/lcm/lcm_udp.lo
upstream/lcm/liblcm.la
upstream/lcm/ringbuffer.lo
upstream/lcmgen/lcm-gen
upstream/liblcm-test/.libs/
upstream/liblcm-test/lcm-example
upstream/liblcm-test/lcm-logfilter
upstream/liblcm-test/lcm-sink
upstream/liblcm-test/lcm-source
upstream/liblcm-test/lcm-tester
upstream/po/remove-potcdate.sed
upstream/config.log
upstream/Makefile
upstream/config.status
upstream/docs/Makefile
upstream/docs/reference/Makefile
upstream/examples/Makefile
upstream/lcm-java/Makefile
upstream/lcm-logger/.deps/glib_util.Po
upstream/lcm-logger/.deps/lcm_logger.Po
upstream/lcm-logger/.deps/lcm_logplayer.Po
upstream/lcm-logger/Makefile
upstream/lcm-python/.deps/_lcm_la-module.Plo
upstream/lcm-python/.deps/_lcm_la-pyeventlog.Plo
upstream/lcm-python/.deps/_lcm_la-pylcm.Plo
upstream/lcm-python/.deps/_lcm_la-pylcm_subscription.Plo
upstream/lcm-python/Makefile
upstream/lcm/.deps/eventlog.Plo
upstream/lcm/.deps/lcm.Plo
upstream/lcm/.deps/lcm_file.Plo
upstream/lcm/.deps/lcm_tcpq.Plo
upstream/lcm/.deps/lcm_udp.Plo
upstream/lcm/.deps/ringbuffer.Plo
upstream/lcm/Makefile
upstream/lcmgen/.deps/emit_c.Po
upstream/lcmgen/.deps/emit_csharp.Po
upstream/lcmgen/.deps/emit_java.Po
upstream/lcmgen/.deps/emit_python.Po
upstream/lcmgen/.deps/getopt.Po
upstream/lcmgen/.deps/lcmgen.Po
upstream/lcmgen/.deps/main.Po
upstream/lcmgen/.deps/sprintfalloc.Po
upstream/lcmgen/.deps/tokenize.Po
upstream/lcmgen/Makefile
upstream/liblcm-test/.deps/lcm-example.Po
upstream/liblcm-test/.deps/lcm-logfilter.Po
upstream/liblcm-test/.deps/lcm-sink.Po
upstream/liblcm-test/.deps/lcm-source.Po
upstream/liblcm-test/.deps/lcm-tester.Po
upstream/liblcm-test/Makefile
upstream/libtool
upstream/m4/Makefile
upstream/m4macros/Makefile
upstream/po/Makefile
upstream/po/Makefile.in
upstream/examples/lcm-spy/my_types.jar
upstream/examples/lcm-spy/exlcm

# lcm autogen
*.lcm
*_types.h
*_telemetry.h
*_telemetry.c
*_settings.h
*_auto.h
!lcm_telemetry.h
!lcm_telemetry.c
classes.dat
